[Desktop Entry]
Name=GameSurf
Comment=Gamepad-optimized web browser
Exec=gamesurf %U
Icon=gamesurf
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Terminal=false